/*中间图片*/
#indextc1{
	width:300px;
	height:300px;
	position:absolute;
	top:0;
	left:0;
	z-index:9999999;
	clear:both;
}
/*中间图片导航文字初始状态*/
.indexdhlj{
	color: white;
	font-family: 'GillSansMTStd Book','华文细黑','圆体','sans-serif';
	margin-left: 20px;
	text-decoration: none;
	font-size: 15px;
	letter-spacing:2px;
}
/*中间图片导航文字鼠标OVER状态*/
.indexdhlj:hover{
	color: red;
	text-decoration: underline;
}
/*图片下方2个工具*/
.indexlj{
	cursor: pointer;
}
.indexli{
	float:left;
	width:90px;
	height:20px;
}