html, body, input, p, a, span, ul, li, dl, dt, dd, ol, select, td, th, input, textarea, button, div{font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft Yahei","黑体",Arial,sans-serif;}
body{background-color: #fff; }
img {max-width: 100%; -ms-interpolation-mode: bicubic;}
ul{list-style: none; margin: 0; padding: 0;}
a, a:link, a:visited, a:hover, a:active, a:focus{text-decoration: none;}
a, a:link, a:visited, a:hover, a:active, a:focus, div, select, input:focus, textarea:focus, button:focus, input, textarea, button{outline: 0; border: 0;}
input, textarea, button{border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: ; -moz-appearance: none; appearance: none;}
textarea{resize:none;}
a:hover{color: #ea3846;}
.container{margin: 0 auto; width: 1180px;}

/* header */
.header-top{ height:65px; background:#e6e6e6; width:100%}
.header-top .login{ float:right}
.header-top p.contry{display:inline-block}
.header-top p.contry img{ padding:15px 15px 0px 0px}
.header-top p.login a{ padding:20px 0px 0px 10px; display:inline-block; font-size:14px; color:#2e2e2e }
.header-top p.login a:hover{color: #ea3846;}
.nav{ background:url(../images/index-92.jpg) no-repeat 0px 50px; height:164px }
.nav ul{ margin:70px 0px 0px 200px; display:inline-block; float:left}
.nav ul li{ float:left }
.nav ul li a{ font-size:16px; letter-spacing:1.1px; color:#000; margin-right:27px; background:url(../images/line.jpg) no-repeat right 5px; padding-right:20px}
.nav ul li a.last{ background:none}
.nav ul li a:hover{color: #ea3846;}
.search-wrap{ border:1px solid #000; height:38px; line-height:38px; margin-top:60px}
.search-input{float: left; width: 94px; height: 38px; padding: 0 10px; font-size: 14px; color: #4b4b4b;}
.search-btn{float: right; width: 37px; height: 38px; background: #fff url(../images/search.png) no-repeat center center; cursor: pointer; border-left: 1px solid #000;}
.search-btn:hover{background: #ea3846 url(../images/search_hover.png) no-repeat center center;}

/* footer */
.featured{height: 369px; background-repeat: repeat-x; background-position: left center;}
.featured img{margin-top: 108px;}
.footer{padding: 100px 0; background: #ea3846; color: #fff;}
.footer .left{margin-left: 45px; width: 550px;}
.footer .left .required{padding: 0 10px; width: 192px; height: 38px; font-size: 14px; color: #a79e9e;}
.footer .left .hand{background: none; color: #fff; font-size: 18px;}
.footer .left ul{overflow: hidden; margin: 50px 0;}
.footer .left ul li{float: left; padding: 0 60px; text-align: center; border-left: 1px solid #f6adb3; font-size: 14px;}
.footer .left ul li:first-child{padding-left: 0; border-left: 0;}
.footer .left ul li.last{padding-right: 0;}
.footer .right{width: 510px;}
.footer .right ul li{float: left; text-align: center;}
.footer .right ul li span{display: block; margin-bottom: 20px; padding: 0 21px; font-size: 18px; line-height: 18px; border-left: 1px solid #fff;}
.footer .right ul li a{display: block; font-size: 14px; line-height: 26px; color: #fff;}
.footer .right ul li a:hover{color: #f6adb3;}
.footer .right ul li:first-child span{border-left: 0;}
.footer .tel{margin-top: 30px; padding-left: 100px; background: url(../images/index-38.jpg) no-repeat 30px 9px; line-height: 34px; letter-spacing: 2px;}
.copyright{margin: 75px 5px 0; padding: 85px 0; border-top: 1px solid #fff; font-size: 14px; line-height: 40px;letter-spacing:3px;}

/* index */
.index-top ul li{float: left; margin-top: 23px; padding-left: 23px; width: 272px; font-size: 14px; line-height: 42px;  color: #183052; letter-spacing: 2px;}
.index-top ul li img{margin-right: 10px;}
.index-top ul li:first-child{color: #850011;}
.index-top ul li:first-child img{position: relative; top: -3px;}
.index-title{margin: 50px auto;}
.index-title p{margin-top: 12px; color: #929492; font-size: 18px;}
.index-slick .item{margin: 0 4.5px; width: 227px !important; height: 340px;}

.newspro{height: 630px;}
.newspro a:hover img, .prebox a:hover img, .story ul li a:hover img{transform: scale(1.03); -webkit-transform: scale(1.03);}
.newspro .li1{left: 0; top: 0; width: 288px; height: 216px;}
.newspro .li2{left: 288px; top: 0; width: 550px; height: 216px;}
.newspro .li3{left: 838px; top: 0; width: 343px; height: 319px;}
.newspro .li4{left: 0; top: 216px; width: 288px; height: 413px;}
.newspro .li5{left: 288px; top: 216px; width: 255px; height: 413px;}
.newspro .li6{left: 543px; top: 216px; width: 295px; height: 102px;}
.newspro .li7{left: 543px; top: 318px; width: 450px; height: 311px;}
.newspro .li8{left: 993px; top: 318px; width: 188px; height: 311px;}

.prebox{height: 1072px;}
.prebox .text{padding: 0 12px; height: 69px; border: 1px solid #e7e7e7; border-top: 0;}
.prebox .tit{margin-top: 12px; margin-bottom: 0; font-size: 14px; color: #2e2e2e; line-height: 18px;}
.prebox .price{margin-bottom: 0; font-size: 14px; color: #c01a1e; text-align: right; line-height: 30px;}
.prebox .li1{left: 0; top: 0;}
.prebox .li1 .imgbox{width: 653px; height: 456px;}
.prebox .li2{left: 675px; top: 0;}
.prebox .li2 .imgbox, .prebox .li3 .imgbox, .prebox .li6 .imgbox, .prebox .li7 .imgbox{width: 232px; height: 185px;}
.prebox .li3{left: 675px; top: 272px;}
.prebox .li4{right: 0; top: 0;}
.prebox .li4 .imgbox{width: 253px; height: 456px;}
.prebox .li5{left: 0; bottom: 0;}
.prebox .li5 .imgbox{width: 268px; height: 456px;}
.prebox .li6{left: 290px; top: 545px;}
.prebox .li7{left: 290px; bottom: 0;}
.prebox .li8{right: 0; bottom: 0;}
.prebox .li8 .imgbox{width: 632px; height: 457px;}
.preferential {padding-bottom: 45px;}
.preferential .bigpic{margin: 45px 0;}
.preferential ul li{position: relative; float: left; margin-left: 62px; width: 350px; height: 260px; overflow: hidden; text-align: center;}
.preferential ul li:first-child{margin-left: 0;}
.preferential ul li span{margin-top: 115px; display: inline-block; color: #fff; font-size: 14px;}

/* 潮流专辑 */
.album{padding: 60px 0 120px;}
.album .item ul{overflow: hidden; margin: 0 auto; width: 1032px;}
.album .item ul li{float: left; margin: 7px; padding: 20px; width: 286px; border: 2px dotted #bebebe; background: #fff; overflow: hidden;}
.album .item ul li img{width: 286px; height: 171px;}
.album .tit{margin-bottom: 5px; font-size: 14px; color: #000;}
.album .desc{margin-top: 8px; margin-bottom: 35px; font-size: 14px; line-height: 22px; height: 66px; overflow: hidden; color: #666;}
.album .date{margin-bottom: 0; font-size: 14px; font-weight: bold; font-style: italic; color: #d32221; text-align: right; }
.store-tit{margin-top: 100px; margin-bottom: -30px;}

/* 工作机会 */
.job, .club{padding: 30px 0 60px;}
.job p{margin-bottom: 0; color: #3e3431; font-size: 18px; line-height: 32px;}
.job p a{color: #3e3431;}
.job p a:hover{color: #ea3846;}

/* 会员俱乐部 */
.club .left{width: 699px;}
.club .left p{margin: 70px 75px 0; font-size: 34px; color: #1c1c1c;}
.club .right{margin-bottom: 120px; width: 481px;}

/*品牌故事 */
.story{margin: 30px auto 60px; width: 1072px;}
.story >div{margin-top: 10px;}
.story ul li{float: left; overflow: hidden;}
.story .text{margin-top: 10px; padding: 22px 90px; background: #ea3846; color: #fffefe; font-size: 14px; line-height: 24px;}
.story .block1 li{margin-left: 10px; width: 531px; height: 320px;}
.story .block1 li:first-child{margin-left: 0;}
.story .block2 .li1{margin-right: 8px; width: 350px; height: 312px;}
.story .block2 .li2{margin-right: 7px; width: 354px; height: 312px;}
.story .block2 .li3{width: 353px; height: 312px;}
.story .block3 .li1{margin-right: 10px; width: 473px; height: 381px;}
.story .block3 .li2{width: 589px; height: 381px;}
.story .block3 .text p{margin-left: 140px; margin-bottom: 0; width: 395px; line-height: 30px;}
.story .block3 .text img{position: absolute; right: 163px; top: 27px;}
.story .block4 .li1{margin-right: 10px; width: 685px; height: 436px;}
.story .block4 .li2{width: 377px; height: 436px;}

.investment{margin: 30px auto 60px; width: 1011px;}

/* 新品系列 */
.series{margin-top: 15px; margin-bottom: 84px; padding: 68px 0 17px; background-repeat: no-repeat; background-position: center top;}
.series li{float: left; margin-bottom: 45px; margin-left: 106px; width: 431px; height: 363px; overflow: hidden;}
.slick-pic{padding-top: 15px; padding-bottom: 15px;  padding-left: 33px;  padding-right: 33px; margin-top: 15px; margin-bottom: 84px; background: #cdcdcd;}
.slick-pic .item{margin-right: 38px;  width: 536px !important; height: 757px; text-align: center;}
.slick-pic .item img{opacity: .6; filter: alpha(opacity=0); transition: all 0.35s linear; -webkit-transition: all 0.3s linear;}
.slick-pic .item.current img{opacity: 1; filter: alpha(opacity=100);}
.slick-btn .item img{transition: all 0.35s linear; -webkit-transition: all 0.3s linear;
-webkit-filter: grayscale(100%); 
-moz-filter: grayscale(100%); 
-ms-filter: grayscale(100%); 
-o-filter: grayscale(100%); 
filter: grayscale(100%); 
filter: gray;
}
.slick-btn .item.current img{
-webkit-filter: grayscale(0); 
-moz-filter: grayscale(0); 
-ms-filter: grayscale(0); 
-o-filter: grayscale(0); 
filter: grayscale(0); 
filter: gray;
}

.query{margin-bottom: 55px; background: #f6f6f6; height: 767px; border: 1px solid #fbfbfb;}
.query .search{float: left; width: 455px; height: 767px;}
.query .search h3{margin: 17px 17px 11px; font-weight: normal;}
.query .search form{margin: 0 0 17px 17px;}
.query .search select{width: 114px; height: 31px; border: 1px solid #ddd;}
.query .search .submit{width: 84px; height: 30px; color: #fff; background: #2e2e2e;}
.query .search .submit:hover{background: #050505;}
.query-tit{margin: 35px 17px 10px; font-size: 14px; color: #000;}
.query-result{background: #fff; height: 609px; overflow-y: scroll;}
.query-result ul li{padding: 16px 17px; font-size: 14px; line-height: 24px; color: #1d2228; border-bottom: 1px solid #dbdbdb;}
.query-result ul li:hover{background: #d2d2d2;}
.query-result h6{margin-bottom: 5px; font-size: 16px; color: #000;}
.query-result dt{float: left; width: 84px; color: #9e9a9b;}
.query-result dd{float: left; width: 320px;}
.query-result dd.tel{color: #9e9a9b;}
.query-result dd.tel a{color: #000; text-decoration: underline;}
.map{float: right; margin: 60px 0; width: 670px; height: 707px;}

.ft-10{font-size: 10px;}
.ft-11{font-size: 11px;}
.ft-12{font-size: 12px;}
.ft-13{font-size: 13px;}
.ft-14{font-size: 14px;}
.ft-15{font-size: 15px;}
.ft-16{font-size: 16px;}
.ft-17{font-size: 17px;}
.ft-18{font-size: 18px;}
.ft-19{font-size: 19px;}
.ft-20{font-size: 20px;}
.ft-21{font-size: 21px;}
.ft-22{font-size: 22px;}
.ft-23{font-size: 23px;}
.ft-24{font-size: 24px;}
.ft-34{font-size: 34px;}
.ff-ar{font-family: Arial !important;}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.fl{float: left;}
.fr{float: right;}
.bold{font-weight: bold;}
.pr{position: relative;}
.pa{position: absolute;}
.block{display: block;}
.cap{text-transform: capitalize;}
.upper{text-transform: uppercase;}
.hidden{overflow: hidden;}
.clear{clear: both; content: ""; height: 0;}
.hand{cursor: pointer;}
.ellipsis{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.filterbox{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); zoom:1;}
:root .filterbox{filter: none\9;}
/* css3 style */
.trans-3{transition: all 0.35s linear; -webkit-transition: all 0.3s linear;}
.trans-8{transition: all 0.8s; -webkit-transition: all 0.8s; -moz-transition: 0.3s;}
.trans-12{transition: all 0.8s; -webkit-transition: all 1.2s; -moz-transition: 0.3s;}
.scale-0x{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0);}
.scale-1x{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1);}
.radius-5{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.radius-half{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.shadow{-webkit-box-shadow: 7px 7px 7px #dad6d6; -moz-box-shadow: 7px 7px 7px #dad6d6; box-shadow: 7px 7px 7px #dad6d6;}